body {
  overflow-x: hidden;
}

.about {
  background-image: url('assets/backgrounds/h_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 250px;
  text-align: center;
  color: white;
}

.about-us{
  text-align: center;
}

.what-we-do{
  text-align: center;
}

#p1,
#p2,
#p3 {
  display: none;
}

#img1,
#img2,
#img3 {
  display: inline;
  /* padding-top: 30px; */
  padding: 150px;
  margin-right: 40px;
  /* padding-bottom: 70px; */
}

.services {
  background-image: url('assets/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.portfolio{
  text-align: center;
}

img{
  margin:5px;
}

img:hover{
  background-color: aqua;
}

.contact-us {
  background-image: url('assets/backgrounds/c_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 10px;
}

#name {
  width: 400px;
  height: 70px;
  margin-left: 300px;
}

#email {
  width: 400px;
  height: 70px;
  margin-right: 700px;
}

#message {
  width: 900px;
  height: 300px;
}

footer {
  text-align: center;
}
